    <div class="row center ">
        <!-- Spaces -->
        <div class="col-md-5 roundBox alignLeft ">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Spaces</th>
                    <th></th>
                    <th></th>
                    <th><a href="#!/Spaces" class="alignLeft panel-info">Update</a></th>
                </tr>
                </thead>
                <tbody>
                <ul>
                    <li >
                        <tr ng-repeat="item in Space" ng-if="$index < 3">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.title}}</td>
                            <td >{{item.created_by}}</td>
                        </tr>

                    </li>
                </ul>
                </tbody>

            </table>


        </div>


        <!-- Users -->
        <div class="col-md-5 panel-group roundBox alignRight ">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Users</th>
                    <th></th>
                    <th></th>
                    <th><a href="#!/Users" class=" alignRight">Update</a></a></th>
                </tr>
                </thead>
                <tbody>
                <ul>
                    <li >
                        <tr  ng-repeat="item in User | filter:query" ng-if="$index < 3">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.first_name}}</td>
                            <td >{{item.last_name}}</td>
                        </tr>

                    </li>
                </ul>
                </tbody>

            </table>

        </div>

    </div>

    <div class="row center col-md-12">
        <div class="col-md-4 roundBox" ng-controller="stackChart">

        <h3>Device Usage</h3>
            <nvd3 options="options" data="data"></nvd3>

        </div>
            <div class="col-md-3 roundBox" ng-controller="pieChart">
                <h3>Users & Spaces</h3>

                <nvd3 options="options" data="data"></nvd3>

            </div>
        <div class="col-md-2 roundBox ">
            <a  href="https://account.altvr.com/users/sign_up" ng-click="createNewUser()" class="dashIcon"><i class="fa fa-envelope fa-2x"></i></a></th>
            <a  href="https://account.altvr.com/users/sign_in" ng-click="createNewUser()" class="dashIcon"><i class="fa fa-user fa-3x" fa-lg></i></a></th>
            <a  href="https://altvr.com/blog/" ng-click="createNewUser()" class="dashIcon"><i class="fa fa-comments fa-3x" fa-lg></i></a></th>


        </div>






