
    <div class="row">
        <!-- Spaces -->
        <h3>Spaces List View</h3>

        <div class="col-sm-12 ">
            <a  href="#!/SpaceEdit" ng-click="createNew()"class="btn btn-primary alignRight">Create</a></th>

        </div>
        <div class="col-sm-11 squareBox alignLeft">

            <table class="table table-striped table-hover">
                <thead>
                <tr >
                    <th ng-repeat="item in spaceHeader" >
                        {{item}}
                    </th>
                    <th>
                        Action
                    </th>

                </tr>

                </thead>
                <tbody>
                <ul>
                    <li >
                        <tr ng-repeat="item in Space" track by $index>
                            <td ng-repeat="(key, value) in item">
                                <span ng-if="getType(value) !== 'boolean' ">
                                    {{value}}
                                </span>
                                <span ng-if="getType(value) === 'boolean' ">
                                    <input type="checkbox" ng-model="value" disabled>
                                </span>
                            </td>
                                <!-- <input ng-model="value"> contenteditable -->
                            <td>
                                <a href="#!/SpaceEdit" ng-click="edit($index,Space);"><i class="fa fa-pencil" ></i></a>
                                <a ng-click="delete(item);"></i><i class="fa fa-trash" ></i></a>
                            </td>
                        </tr>

                    </li>
                </ul>
                </tbody>

            </table>




        </div>


    </div>


