<div class="row">

    <div class="col-sm-11 squareBox alignLeft">
        <form >

            <div class="form-group form-inline " ng-repeat="(key, value) in currentSelected">
                <label for="usr">{{key}}:</label>
                <span ng-if="key == 'members'">
                    <select class="form-control" ng-model="currentSelected[key]" multiple >
                            <option ng-repeat="(key,value) in userMap"
                                    value={{key}}>{{value}}
                            </option>
                    </select>
                </span>
                <span  ng-if="getType(value) != 'boolean' && key != 'members'">
                        <input class="form-control"type="text" ng-model="currentSelected[key]" ng-disabled="getReadOnly(key)" >
                </span>
                <span ng-if="getType(value) === 'boolean' ">
                        <input class="form-check" type="checkbox" ng-model="currentSelected[key]">
                </span>




            </div>
        </form>

    </div>
    <div class="col-sm-11" alignRight>
        <button type="save" class="btn btn-primary alignRight" ng-click="saveUser(currentSelected,membersList);">Save</button>
        <a  href="#!/Spaces" class="btn btn-primary alignRight">Close</a>


    </div>

</div>






